@import url('https://fonts.googleapis.com/css?family=Poppins');

        body {
            overflow-x: hidden;
            width: 100%;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
            margin: 0;
            padding: 0;
        }

        .top-nav-collapse {
            background-color: #fff;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        }

        nav {
            background-color: #fff;
            position: fixed;
            top: 0;
        }

        img.logo{
          width: 12%;
        }

        .wrapper,
        .contact {
            padding-top: 5rem;
        }
        hr.footer-hr {
        margin: auto 70px;
          border:1px solid #fff;
        }
        .wrapper h1,
        .contact h2 {
            font-size: 20px;
        }

        .contact h2 {
            padding-bottom: .4rem;
        }

        .wrapper {
            padding-left: 5rem;
            letter-spacing: 1px;
        }

        .bt-padding {
            padding-bottom: 5rem;
        }

        p,
        address {
            margin: 0;
        }

        .head {
            padding-bottom: 1rem;
        }

        .contact-form {
            padding-right: 5rem;
        }

        .form-group {
            padding: .3rem 0;
        }

        .btn-primary {
            float: right;
            padding: .2rem 2rem;
        }
        
        .title {
            font-size: 1.5rem;
            color: #fff;
        }

        .left {
            padding-left: 5rem;
            padding-top: 10rem;
        }

        .right {
            padding-left: 10rem;
        }

       


            .wrapper {
                letter-spacing: 0;
                padding-left: 1rem;
            }
        }

        @media(max-width: 780px) {
            .left {
                padding: 0 3rem;
                padding-top: 3rem;
                padding-bottom: 2rem;
            }

            .right {
                display: none;
            }

            .contact h2 {
                text-align: center;
            }

            .wrapper {
                padding: 2rem 1rem 0;
            }

            .contact {
                padding-top: 2rem;
            }

          
        }

        @media (max-width: 680px) {
            .left {
                padding: 0 2rem;
                padding-top: 5rem;
                padding-bottom: 3rem;
            }

            .right {
                display: none;
            }

            .contact h2 {
                text-align: center;
            }

            .wrapper {
                padding: 3rem 1rem 0;
            }

            .contact {
                padding-top: 2rem;
            }

           
        }

        @media (max-width: 480px) {
            .left {
                padding: 0 2rem;
                padding-top: 3rem;
            }

            .right {
                display: none;
            }

            .contact h2 {
                text-align: center;
            }

            .wrapper {
                padding: 3rem 1rem 0;
            }

            .contact {
                padding-top: 2rem;
            }

            .footer-links li:last-child {
                margin-right: 7rem;
            }
        }

        @media screen and (max-width: 380px) {
            .left {
                padding-left: 2rem;
                padding-top: 3rem;
            }
            .foot1{
                padding-left: 1.8rem;
            }
            .right {
                display: none;
            }

            .btn {
                font-weight: 300;
                font-size: .8rem;
            }

            .btn img {
                width: 15px;
                margin-top: 0;
            }

            .contact h2 {
                text-align: center;
            }

            .title {
                font-size: 1.2rem;
            }

            .bt-padding {
                padding-bottom: 2rem;
            }

            .wrapper {
                padding: 3rem 1rem 0 1rem;
            }

            .contact {
                padding: 1rem;
            }

            
        }
        