 @import url('https://fonts.googleapis.com/css?family=Poppins');

        body {
            font-family: "Poppins", sans-serif;
            box-sizing: border-box;
            overflow-x: hidden;
            width: 100%;

        }

        a {
            color: #fff;

        }

        a:hover {
            text-decoration: none;
            color: #ccc;
        }

        .dropdown-menu {
            left: -5em;
        }

        .title {
            line-height: 1.5em;
            font-size: 2.2rem;
            letter-spacing: 0.02em;
            font-weight: bold;
        }

        .top-nav-collapse {
            background-color: #fff;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        }

        .phone-img {
            top: -8%;
            position: relative;
            animation: float 3s infinite alternate ease-in-out;

        }

        .footer-row {
            padding: 0 7rem;
        }


        @keyframes float {
            0% {

                transform: translatey(0px);
            }

            50% {

                transform: translatey(-20px);
            }

            100% {

                transform: translatey(0px);
            }
        }

        nav {
            background-color: #fff;
            position: fixed;
            top: 0;
        }

        .nav-item a {
            transition: transform 0.5s;
        }

        .contact .nav-item a:hover {
            font-weight: bold;
            transform: scale(1.05);
        }

        .nav-tabs .nav-link:focus,
        .nav-tabs .nav-link:hover {
            border-color: transparent;
        }

        .terms {
            margin-top: 6em;
            margin-bottom: -3rem;
        }



        .play-store {
            background: #fff;
            border-radius: 48px;
            border: 0;
            transition: background-color 1s;

        }

        .play-store:hover {
            background-color: #1A73E8;
            color: #fff;
        }

        .primary-blue {
            color: rgb(0, 73, 168);
        }

        .eclipse {
            border-radius: 50%;
            background-color: #1A73E8;
            width: 75%;
            height: 400px;
        }

        .footer-links {
            margin-top: 7rem;
            border-top: 1px solid #fff;
            padding-top: 3rem;
        }

        .footer-links a {
            color: #fff;
            transition: transform 0.5s;

        }

        .footer-links a:hover {
            text-decoration: none;
            transform: scale(1.1);

        }


        .header-links a {
            color: #fff;
            padding: 0 .2rem;
            text-decoration: none;
            font-size: 1rem;

        }

        .text-and-button {
            padding-top: 8rem;
        }

        .bt-link {


            color: black !important;
            background: #fff;
            padding: .6rem !important;
        }

        .border {
            border: 1px solid #DADADA;
            border-radius: 4px;
        }


        .or {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 .1rem;
        }

        .bar {
            flex: auto;
            border: none;
            height: 1px;
            background: #1A73E8;
        }

        .or span {
            padding: 0 0.8rem;
        }

        .adjust {
            padding: 0 5rem;
        }

        .adjust2 {
            padding: 0 0 0 20rem;
        }

        .spacing {
            padding: 2rem 5rem 1rem;
        }

        .inner {
            margin-top: 1rem;
            padding: 2rem 0 1rem 4rem;
        }

        .section-center {
            margin-top: 1rem;
            padding: 2rem 0 1rem 4rem;
        }

        .section-title {
            font-size: 1.3rem;
            padding: .8rem 1rem .3rem;
        }

        .date {
            padding: 1rem 0 0 1rem;
        }

        .fa-calendar,
        .fa-clock {
            padding-right: 1rem;
            color: #1A73E8;
        }

        .parking-space {
            padding: 2rem 3rem 0;
        }


        .left {
            display: inline-block;
            width: 50%;
            margin-bottom: 0;
        }

        .right {
            display: inline-block;
            width: 50%;
            position: absolute;
            top: 50%;
        }

        .hidden {
            display: none;
        }

        .visible {
            display: block;
        }

        .header-links buttun .bt-link {
            color: #fff !important;
            text-decoration: none !important;
        }

        .header-links .btn-link:hover {
            color: #fff !important;
            text-decoration: underline;
        }


        .tabs-pills {
            background-color: #3684eb;
            color: white;
            padding-top: 5em;
            padding-left: 5em;
            padding-bottom: 0;
            border-bottom: none;
            padding-right: 5em;
        }

        .tabs-pills  p{ 
            padding-bottom: 5rem;
        }

        .tabs-pills  h3{ 
            padding-top: 3rem;
        }

        .nav-tabs .nav-link.active {
            color: #495057;
            background-color: #fff;
            border-color: #dee2e6 #dee2e6 #fff;
        }

        .fa-headset,
        .fa-envelope {
            margin-right: 0.5em;
            color: #ffbd49;
        }

        .header-links .btn-link {
            color: white;
        }

        @media (max-width: 1400px) {
            .or {
                display: none;
            }

            .adjust {
                padding: 0;
            }

            .adjust p {
                margin-left: .8rem;
            }

            .adjust2,
            adjust {
                padding: 0;
            }

            .spacing {
                padding: 1rem 2rem;
            }

            .section-center,
            .inner {
                padding: 2rem;

            }

            .amount {
                position: absolute;
                left: 50%;
            }

            .adjust2 .btn {
                margin-left: 40%;
            }

            .adjust .btn-primary {
                margin-left: .9rem;
            }

        }

        @media (max-width: 1200px) {
            .or {
                display: none;
            }

            .adjust {
                padding: 0;
            }

            .adjust p {
                margin-left: .8rem;
            }

            .adjust2,
            adjust {
                padding: 0;
            }

            .spacing {
                padding: 1rem 2rem;
            }

            .section-center,
            .inner {
                padding: 2rem;

            }

            .amount {
                position: absolute;
                left: 50%;
            }

            .adjust2 .btn {
                margin-left: 40%;
            }

            .adjust .btn-primary {
                margin-left: .9rem;
            }
        }

        @media only screen and (max-width: 990px) {
            .or {
                display: none;
            }

            .contact{
                display: none;
            }

            .tabs-pills{
                padding-left: 3rem;
                padding-right: 1rem;
            }

            .nav-link {
                padding: .5rem .5rem;
            }

            .adjust {
                padding: 0;
            }

            .adjust p {
                margin-left: .8rem;
            }

            .adjust2,
            adjust {
                padding: 0;
            }

            .spacing {
                padding: 1rem 2rem;
            }

            .section-center,
            .inner {
                padding: 2rem;

            }

            .amount {
                position: absolute;
                left: 50%;
            }

            .adjust2 .btn {
                margin-left: 40%;
            }

            .adjust .btn-primary {
                margin-left: .9rem;
            }

        }

        @media (max-width: 880px) {
            .or {
                display: none;
            }

            .contact {
                display: none;
            }

            .adjust {
                padding: 0;
            }

            .adjust p {
                margin-left: .8rem;
            }

            .adjust2,
            adjust {
                padding: 0;
            }

            .spacing {
                padding: 1rem 2rem;
            }

            .section-center,
            .inner {
                padding: 2rem;

            }

            .amount {
                position: absolute;
                left: 50%;
            }

            .adjust2 .btn {
                margin-left: 40%;
            }

            .adjust .btn-primary {
                margin-left: .9rem;
            }

        }

        @media (max-width: 768px) {
            .or {
                display: none;
            }

            .tabs-pills{
                padding-left: 3rem;
                padding-right: 1rem
            }

            .nav-link {
                padding: .5rem .5rem;
            }

            .contact {
                display: none;
            }

            .adjust {
                padding: 0;
            }

            .adjust p {
                margin-left: .8rem;
            }

            .adjust2,
            adjust {
                padding: 0;
            }

            .spacing {
                padding: 1rem 2rem;
            }

            .section-center,
            .inner {
                padding: 2rem;

            }

            .amount {
                position: absolute;
                top: -2.5rem;
                left: 25rem;
            }

            .fa-trash-alt {
                position: absolute;
                top: 1.5rem;
                left: 25rem;
            }

            .adjust button:first-child {
                margin-right: 45%;
            }

            .adjust2 .btn-danger {
                margin-left: 1rem;
            }


            .footer-row {
                padding: 0 1rem;
            }

            .text-and-button {
                padding-top: 2rem;
            }

            .eclipse {
                height: 330px;

            }

            .phone-img {

                height: 130%;

            }

            .footer-links {
                margin-top: 3rem;
            }

        }

        @media (max-width: 680px) {
            .or {
                display: none;
            }

            .tabs-pills{
                padding-left: 2rem;
                padding-right: .5rem;
            }

            .nav-link {
                padding: .5rem .5rem;
            }

            .adjust {
                padding: 0;
            }

            .adjust p {
                margin-left: .8rem;
            }

            .adjust2,
            adjust {
                padding: 0;
            }

            .spacing {
                padding: 1rem 2rem;
            }

            .section-center,
            .inner {
                padding: 2rem;

            }

            .amount {
                position: absolute;
                top: -2.5rem;
                left: 20rem;
            }

            .fa-trash-alt {
                position: absolute;
                top: 1.5rem;
                left: 20rem;
            }

            .adjust button:first-child {
                margin-right: 35%;
            }

            .adjust2 .btn-danger {
                margin-left: 1rem;
            }

        }

        @media (max-width: 580px) {
            .or {
                display: none;
            }

            .tabs-pills{
                padding-left: .5rem;
                padding-right: .5rem;
            }

            .nav-link {
                padding: .5rem .5rem;
            }

            .adjust {
                padding: 0;
            }

            .adjust p {
                margin-left: .8rem;
            }

            .adjust2,
            adjust {
                padding: 0;
            }

            .spacing {
                padding: 1rem 2rem;
            }

            .section-center,
            .inner {
                padding: 2rem;

            }

            .amount {
                position: absolute;
                top: -2.5rem;
                left: 15rem;
            }

            .fa-trash-alt {
                position: absolute;
                top: 1.5rem;
                left: 15rem;
            }

            .adjust button:first-child {
                margin-right: 30%;
            }

            .adjust2 .btn-danger {
                margin-left: 1rem;

            }

        }

        @media (max-width: 480px) {
            .or {
                display: none;
            }

            .nav-tabs{
                font-size: .7rem;
            }

            .tabs-pills{
                padding-left: .5rem;
                padding-right: .5rem;
            }

            .nav-link {
                padding: .5rem .5rem;
            }

            .adjust {
                padding: 0;
            }

            .adjust p {
                margin-left: .8rem;
            }

            .adjust2,
            adjust {
                padding: 0;
            }

            .spacing {
                padding: 1rem 2rem;
            }

            .section-center,
            .inner {
                padding: 2rem;

            }

            .adjust2 .btn-danger {
                margin-left: 1rem;

            }

            .adjust .btn-primary {
                margin-left: .9rem;
            }

            .bt-link,
            .btn-primary {
                width: 90%;
            }

            .amount {
                position: absolute;
                top: -2.5rem;
                left: 11rem;
            }

            .fa-trash-alt {
                position: absolute;
                top: 1.5rem;
                left: 12rem;
            }



        }

        @media (max-width: 380px) {
            .or {
                display: none;
            }

            .nav-link {
                padding: .5rem .3rem;
            }

            .adjust {
                padding: 0;
            }

            .adjust p {
                margin-left: .8rem;
            }

            .adjust2,
            adjust {
                padding: 0;
            }

            .adjust .btn-primary {
                margin-left: .9rem;
            }

            .adjust2 .btn-danger {
                margin: 0;
                width: 100%;
            }

            .btn-link,
            .btn-primary {
                width: 90%;
            }

            .spacing {
                padding: 1rem 2rem;
            }

            .section-center,
            .inner {
                padding: 2rem;

            }

            .amount {
                position: absolute;
                top: -2.5rem;
                left: 7rem;
            }

            .trash {
                display: none;
            }

        }