@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin-top: 4em;
  padding: 0;
}
.dropdown-menu {
  left: -5em;
}
.search-hr {
  border: 1px solid #e7e7e7;
  width: 2000em !important;
  margin-left: -9em !important;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.select-spot {
  margin-top: 5em;
}

.divider-text {
  position: relative;
  display: flex;
  align-items: center;
  color: #8392a5;
  font-size: 10px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;
  margin: 15px 0;
}
.divider-text::before,
.divider-text::after {
  content: "";
  display: block;
  flex: 1;
  height: 1px;
  background-color: #e5e9f2;
}
.divider-text::before {
  margin-right: 10px;
}
.divider-text::after {
  margin-left: 10px;
}

.inner-addon {
  position: relative;
}

input[type="text"] {
  border: none;
  width: 350px !important;
  height: 50px;
  flex-grow: 1;
  border: 1.5px solid #e7e7e7 !important;
  border-radius: 5px;
}
input:active,
input:focus {
  outline: none !important;
  box-shadow: none !important;
}
button:active,
button:focus,
select:active,
select:focus {
  box-shadow: none !important;
}
/* style icon */
.inner-addon .fa-search {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .fa-search {
  right: 3em !important;
  top: 0.5em;
  color: blue;
}

/* add padding  */
.left-addon input {
  padding-left: 30px;
}
.right-addon input {
  padding-right: 30px;
}
.col-Two {
  border: 1px solid #e7e7e7;
  padding: 1.5em 1em 1em !important;
}
.col-Two h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.col-Two hr {
  margin: 0.2em -1em;
}
.col-Two p {
  margin-bottom: 0;
}
.col-Two #payment-btn .btn-secondary {
  color: #fff;
  background-color: #d0cfcf;
  border-color: #d0cfcf;
}
.col-Two #payment-btn:hover {
  text-decoration: none !important;
  background: #7c7979 !important;
}

/* FOOTER */
.footer {
  background: #3684eb;
  height: fit-content;

  margin-top: 560px;
  margin-left: -15px;
  margin-right: -15px;
}

.eclipse2 {
  background: #1a73e8;
  width: 400px;
  height: 400px;
  margin-left: 73px;
  margin-top: 6em;
  border-radius: 50%;
  z-index: 1000;
}
.foot1 {
  padding-left: 7.5rem;
  padding-top: 5rem;
}
.nav-btn {
  width: 163px;
  height: 44px;
  border-radius: 50px;
  font-size: 0.9rem;
}
.foot-btn {
  background: white;
  color: #3684eb;
  border: none;
}
.foot-one {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 130%;
  color: #ffffff;
}
.foot-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #dbd6ed;
}
hr.footer {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border: 1px solid #fff;
}
.footer-links {
  padding: 1em 3.5em 2em;
  display: flex;
  justify-content: space-evenly;
}
.footer-links a {
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  line-height: 160%;
  color: #f5f5f5;
  text-decoration: none;
}
a:hover {
  color: #f8d373;
  transition: 0.6s ease-in-out;
}
.hero {
  margin-top: 8em;
}
.h-five {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: #ffc408;
}
.h-one {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 130%;
  color: #11092c;
  margin: 20px 0;
}
.paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #514c65;
}
.hero-btn {
  background: #3684eb;
  border: none;
  color: #e6effb;
}
.eclipse {
  width: 400px;
  height: 400px;
  margin-left: 73px;
  margin-top: 44px;
  background: #f7f4ef;
  border-radius: 50%;
  z-index: 1000;
}
.hero-dots {
  margin-left: 25em;
  margin-top: -12em;
  z-index: -1;
  position: relative;
  opacity: 0.5;
}

.hero-img {
  height: auto;
  margin-top: -18%;
  margin-left: 12%;
  -webkit-animation: float 2s infinite alternate;
  animation: float 6s ease-in-out infinite;
}
@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translatey(-20px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(207, 207, 207, 0.6); */
    transform: translatey(0px);
  }
}
.blockquote-footer {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #11092c;
}
.blockquote-footer::before {
  content: " ";
}
@media (max-width: 990px) {
  .navbar-toggler {
    margin-right: 1em;
  }
  .navbar-brand {
    margin-left: 1em;
  }
  .eclipse,
  .eclipse2 {
    margin: auto;
    width: 300px;
    padding-right: 15px;
    padding-left: 45px;
  }
  .hero-img,
  .hero-dots {
    height: -webkit-fill-available;
    margin: auto;
  }
  .hero {
    padding-top: 6em !important;
  }
  .hero2 {
    padding-top: 2em;
  }
  .foot1 {
    padding-top: 4em;
    margin-bottom: 2em;
  }
  hr.footer {
    width: 350px;
    margin-left: 0;
  }
  .foot-brand {
    width: 100px;
  }
  .footer-links {
    padding: 0 0 2em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer-links a {
    margin: 1em;
  }
  .saveBtn {
    margin-top: 0.4em;
  }
  .left-addon .fa-search {
    right: 1em !important;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1240px;
  }
}
