/* FOOTER */
.footer {
  background: #3684eb;
  height: fit-content;
  margin-left: 0px;
  margin-top: 560px;
}
.eclipse2 {
  background: #1a73e8;
  width: 400px;
  height: 400px;
  margin-left: 73px;
  margin-top: 6em;
  border-radius: 50%;
  z-index: 1000;
}
.foot1 {
  padding-left: 7.5rem;
  padding-top: 5rem;
}
.foot-btn {
  background: white;
  color: #3684eb;
  border: none;
  width: 163px;
  height: 44px;
  border-radius: 50px;
  font-size: 0.9rem;
}
.foot-one {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 130%;
  color: #ffffff;
}
.foot-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #dbd6ed;
}
hr {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border: 1px solid #fff;
}
.hero-dots {
  margin-left: 25em;
  margin-top: -12em;
  z-index: -1;
  position: relative;
  opacity: 0.5;
}
.hero-img {
  height: auto;
  margin-top: -18%;
  margin-left: 12%;
  -webkit-animation: float 2s infinite alternate;
  animation: float 6s ease-in-out infinite;
}
.footer-links {
  padding: 1em 3.5em 2em;
  display: flex;
  justify-content: space-evenly;
}
.footer-links a {
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  line-height: 160%;
  color: #f5f5f5;
  text-decoration: none;
}

a:hover {
  color: #f8d373;
  transition: 0.6s ease-in-out;
}
/* BUTTONS */
.btn-success:hover {
  background: #1350a0;
  border: none;
  color: #fff;
  transition: 0.6s ease-in-out;
}

.btn-success:active:focus {
  outline: none !important;
  box-shadow: none !important;
  background: #1350a0 !important;
}

@media (max-width: 990px) {
  .foot1 {
    padding-left: 1em;
    padding-top: 5em;
    margin-bottom: 2em;
  }
  hr {
    width: 350px;
    margin-left: 0;
    margin-top: 100px;
  }
  .foot-brand {
    width: 100px;
  }
  .footer-links {
    padding: 0 0 2em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer-links a {
    margin: 1em;
  }
  .mystyle {
    margin-top: 130px !important;
  }
}
