.become{
    width:70%;
    margin:3% auto;
}
.img-header{
    width:100%;
    background-repeat:no-repeat;
    background-size:cover;
    
}
.circle{
    border:1px solid blue;
    border-radius:100%;
    padding:50px 20px;
    width:40%;
    margin:auto;

}
.number{
    margin-right:10px;
}
.allno{
    margin-left:auto;
    margin-right:auto;
    margin-top:10%;
}
body{
    background-color:grey;
}
.work{
    margin-top:50px;
}
.overlap{
    margin-left:30%;
    
    
}
.over{
    background-color:#fff!important;
    padding:60px;
    margin-bottom:0px!important;
    /* height:400px; */
}
.main-overlap{
    height:270px;
    max-width:450px;
    opacity: 60%;
    z-index:-1;
    background-color:blue;
    color:#FFF;
    padding:5%;
    display:inline-block;
    margin-left:-100px!important;
    margin-top:50px;
}
.footer{
    margin-top:0px!important;
}